# Q1:

Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

In [2]:
favorite_pizzas = ['pepperoni', 'hawaiian', 'veggie']
for pizza in favorite_pizzas:
    print(pizza)

print("\n")
for pizza in favorite_pizzas:
    print("I really love " + pizza + " pizza!")

print("\nI really love pizza!")

pepperoni
hawaiian
veggie


I really love pepperoni pizza!
I really love hawaiian pizza!
I really love veggie pizza!

I really love pizza!

# Q2

Start with your last question , Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

In [3]:
pizzas = ["pepperoni", "hawaiian","veggie"]
for pizza in pizzas:
    print ("i like "  + pizza + " pizzas.")

i like pepperoni pizzas.
i like hawaiian pizzas.
i like veggie pizzas.

# Q3:

Use a for loop to print the numbers from 1 to 20,
inclusive.

In [4]:
numbers = list(range(1, 21))

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Q4:

Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20. Use a for loop to print each number.

In [5]:
num = ["1,3,5,9,11,13,15,19"]
for num in range (1,21,2):
    print (num)

1
3
5
7
9
11
13
15
17
19

# Q5:

Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.

In [6]:
threes = list(range(3, 31, 3))

for number in threes:
    print(number)

3
6
9
12
15
18
21
24
27
30

# Q6:

A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube

In [7]:
cubes = []
for number in range(1, 11):
    cube = number**3
    cubes.append(cube)

for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

# Q7:

###### Make a python program that conatains your nine favourite dishes in a list called foods.

###### Print the message, The first three items in the list are:. 
###### Then use a slice to print the first three items from that program’s list.

###### Print the message, Three items from the middle of the list are:
###### Use a slice to print three items from the middle of the list.

###### Print the message, The last three items in the list are:
###### Use a slice to print the last three items in the list.

In [8]:
dishes= ["pilao","qeema","behari botti","singaporian rice","chowmein","biryani","koftaa","kabab","tehari"]

print("The first three items in the list are:\n")

for item in dishes[:3]:
    print(item)
    
print("\nThree items from the middle of the list are:\n")

for item in dishes[3:6]:
    print(item)
    
print("\nThe last three items in the list are:\n")

for item in dishes[6:]:
    print(item)

The first three items in the list are:

pilao
qeema
behari botti

Three items from the middle of the list are:

singaporian rice
chowmein
biryani

The last three items in the list are:

koftaa
kabab
tehari

# Q8:

### Start with your program from your last Question8.
###### Make a copy of the list of foods, and call it friend_foods.
###### Then, do the following:
######    Add a new dish to the original list.
######    Add a different dish to the list friend_foodss.
######    Prove that you have two separate lists. 
###### Print the message, My favorite pizzas are: and then use a for loop to print the first list. 
###### Print the message,
###### My friend’s favorite foods are:, and then use a for loop to print the second list.
    
##### NOTE: Make sure each new dish is stored in the appropriate list.

In [9]:
new_foods = ["pilao","qeema","behari botti","singaporian rice","chowmein","biryani","koftaa","kabab","tehari"]

friend_foods = new_foods.copy()

new_foods.append("peshawri karahi")

friend_foods.append("Allo Gosht")

print("my favorite foods are:\n")

for food in new_foods:
    print(food)
    
print("\nmy friend's favorite foods are:\n")

for food in friend_foods:
    print(food)

my favorite foods are:

pilao
qeema
behari botti
singaporian rice
chowmein
biryani
koftaa
kabab
tehari
peshawri karahi

my friend's favorite foods are:

pilao
qeema
behari botti
singaporian rice
chowmein
biryani
koftaa
kabab
tehari
Allo Gosht

# Q9:

Take a user input from console line.Store it in a variable called Alien_color.

If the alien’s color is red, print a statement that the player just earned 5 points for shooting the alien.

If the alien’s color isn’t green, print a statement that the player just earned 10 points.

If the alien's color isn't red or green , print a statment :, Alien is no more.....

In [10]:
alien_color = input("Enter Alien Color: ")

alien_color = alien_color.lower()

if alien_color == "red":
    print("The player just earned 5 points for shooting the alien.")
elif alien_color != "green":
    print("The player just earned 10 points.")
else:
    print("Alien is no more.....")

Enter Alien Color: brown
The player just earned 10 points.

# Q10:

Write an if-elif-else chain that determines a person’s
stage of life. Set a value for the variable age, and then:
    
•	 If the person is less than 2 years old, print a message that the person is a baby.

•	 If the person is at least 2 years old but less than 4, print a message that the person is a toddler.

•	 If the person is at least 4 years old but less than 13, print a message that the person is a kid.

•	 If the person is at least 13 years old but less than 20, print a message that the person is a teenager.

•	 If the person is at least 20 years old but less than 65, print a message that the person is an adult.

•	 If the person is age 65 or older, print a message that the person is an elder.

In [11]:
age = 17

if age < 2:
    print("You're a baby!")
elif age < 4:
    print("You're a toddler!")
elif age < 13:
    print("You're a kid!")
elif age < 20:
    print("You're a teenager!")
elif age < 65:
    print("You're an adult!")
else:
    print("You're an elder!")

You're a teenager!

# Q11:

Do the following to create a program that simulates how websites ensure that everyone has a unique username.

•	 Make a list of five or more usernames called current_users.

•	 Make another list of five usernames called new_users. 
Make sure one or two of the new usernames are also in the current_users list.

•	 Loop through the new_users list to see if each new username has already been used. 
If it has, print a message that the person will need to enter a new username. 
If a username has not been used, print a message saying that the username is available.

•	 Make sure your comparison is case insensitive. If 'John' has been used, 'JOHN' should not be accepted.

In [12]:
current_users = ['eric', 'willie', 'admin', 'erin', 'Ever']
new_users = ['sarah', 'Willie', 'PHIL', 'ever', 'Iona']

current_users_lower = [user.lower() for user in current_users]

for new_user in new_users:
    if new_user.lower() in current_users_lower:
        print("Sorry " + new_user + ", that name is taken.")
    else:
        print("Great, " + new_user + " is still available.")

Great, sarah is still available.
Sorry Willie, that name is taken.
Great, PHIL is still available.
Sorry ever, that name is taken.
Great, Iona is still available.

# Q12:

Use a dictionary to store information about a person you know.
Store their first name, last name, age, and the city in which they live. 
You should have keys such as first_name, last_name, age, and city. 
Print each piece of information stored in your dictionary

In [13]:
person = {
    'first_name': 'eric',
    'last_name': 'matthes',
    'age': 43,
    'city': 'sitka',
    }

print(person['first_name'])
print(person['last_name'])
print(person['age'])
print(person['city'])

eric
matthes
43
sitka

# Q13:

Starts with your last question 12 , loop through the dictionary’s keys and values.
When you’re sure that your loop works, add five more Python terms to your
dictionary . When you run your program again, these new words and meanings
should automatically be included in the output.

In [14]:
person = {
    "first_name": "eric",
    "last_name": "matthes",
    "age": "43",
    "city": "sitka",
}

for key, value in person.items():
    print(key + ": " + value)

first_name: eric
last_name: matthes
age: 43
city: sitka

# Q14:

Make a dictionary containing three major rivers and the country
each river runs through. One key-value pair might be 'nile': 'egypt'.
    
    
•	 Use a loop to print a sentence about each river, such as The Nile runs
through Egypt.

NOTE: use upper case through keys and values.

In [15]:
rivers = {
    'nile': 'egypt',
    'mississippi': 'united states',
    'fraser': 'canada',
    'kuskokwim': 'alaska',
    'yangtze': 'china',
    }

for river, country in rivers.items():
    print("The " + river.title() + " flows through " + country.title() + ".")

print("\nThe following rivers are included in this data set:")
for river in rivers.keys():
    print("- " + river.title())

print("\nThe following countries are included in this data set:")
for country in rivers.values():
    print("- " + country.title())

The Nile flows through Egypt.
The Mississippi flows through United States.
The Fraser flows through Canada.
The Kuskokwim flows through Alaska.
The Yangtze flows through China.

The following rivers are included in this data set:
- Nile
- Mississippi
- Fraser
- Kuskokwim
- Yangtze

The following countries are included in this data set:
- Egypt
- United States
- Canada
- Alaska
- China

# Q15:

Make several dictionaries, where the name of each dictionary is the
name of a pet. In each dictionary, include the kind of animal and the owner’s
name. Store these dictionaries in a list called pets. Next, loop through your list
and as you do print everything you know about each pet.

In [16]:
pets = []


pet = {
    'animal type': 'python',
    'name': 'john',
    'owner': 'guido',
    'weight': 43,
    'eats': 'bugs',
}
pets.append(pet)

pet = {
    'animal type': 'chicken',
    'name': 'clarence',
    'owner': 'tiffany',
    'weight': 2,
    'eats': 'seeds',
}
pets.append(pet)

pet = {
    'animal type': 'dog',
    'name': 'peso',
    'owner': 'eric',
    'weight': 37,
    'eats': 'shoes',
}
pets.append(pet)


for pet in pets:
    print("\nHere's what I know about " + pet['name'].title() + ":")
    for key, value in pet.items():
        print("\t" + key + ": " + str(value))

Here's what I know about John:
	animal type: python
	name: john
	owner: guido
	weight: 43
	eats: bugs

Here's what I know about Clarence:
	animal type: chicken
	name: clarence
	owner: tiffany
	weight: 2
	eats: seeds

Here's what I know about Peso:
	animal type: dog
	name: peso
	owner: eric
	weight: 37
	eats: shoes